* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav css */

.navbar {
  height: 70px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbox {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  height: 100%;
}

.navbar .c-icon {
  height: 65px;
  width: 65px;
  margin: 0 15px;
}
.navbox_2 {
  display: flex;
  width: 80%;
  padding: 0 15px;
  justify-content: end;
  gap: 1rem;
}

.navicons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
}

.navicons a {
  color: black;
  margin: 0 0.5rem;
}

.navicons a:last-child {
  margin-right: 1.5rem;
  font-size: 2.2rem;
}

.search-bar {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  margin-right: 15px;
}

.input {
  height: 50px;
  width: 100%;
  padding: 10px 40px 10px 20px;
  outline: none;
  min-width: 200px;
  max-width: 400px;
  border-radius: 40px;
  border: 1px solid gray;
  position: relative;
}

.icon {
  position: relative;
  left: -40px;
  height: 30px;
  width: 30px;
}

/* abhishek */

.profile-icon {
  font-size: 2.5rem;
  width: 7%;
  position: relative;
  background-color: #000;
  cursor: pointer;
}

.profile-icon button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.profile-dropdown {
  /* display: none; */
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 70px;
  right: 0px;
  background: white;
  visibility: hidden;
}

#user:checked ~ .profile-dropdown {
  visibility: visible;
}

.profile-dropdown button, .profile-dropdown a {
  text-decoration: none;
  padding: 1rem 3rem;
  border: none;
  border-radius: 3px;
  border-top: 1px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
}


@media screen and (max-width: 935px) {
  .navbar .c-icon {
      display: none;
  }
  .navbox_2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  .search-bar {
      margin: 0;
      padding: 0;
      width: 20px;
  }
}

/* nav css ended */

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 7vw;
  height: auto;
  font-family: "Lato", sans-serif;
}

.sidebar {
  top: 0;
  left: 0;
  width: 30vw;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

.dashlinks {
  color: black;
  width: 100%;
  padding: 0 1rem;
}

.dashlinks i {
  padding: 0 0.4rem 0 0;
  font-size: 1.5rem;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: padding 0.5s;
}

.commission,
.membership,
.setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  transition: padding 0.5s;
}

.links a {
  text-decoration: none;
  height: 100%;
  transition: padding 0.5s;
}

.links a:hover {
  padding: 1rem 0 1rem 1rem;
  background-color: rgb(211, 199, 199);
}

.links {
  display: flex;
  flex-direction: column;
}

.content {
  width: 70vw;
}

.memberships{
  margin-top: .5rem;
  margin-left: 0.5rem;
  width: 90%;
  padding: .5rem 2rem;  
}

.memberships .bought h4{
  width: 30%;
  background-color: black;
  padding: .6rem .5rem .6rem 1.4rem;
  color: white;
  font-weight: 100;
  border-radius: 4px;
  font-weight: 100;
}

.content p{
  text-align: center;
  line-height: 8rem;
  font-weight: 100;
}

p{
  color: gray;
}
