* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbox {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    height: 100%;
}

.navbar .c-icon {
    height: 65px;
    width: 65px;
    margin: 0 15px;
}
.navbox_2 {
    display: flex;
    width: 80%;
    padding: 0 15px;
    justify-content: end;
    gap: 1rem;
}

.navicons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
}

.navicons a {
    color: black;
    margin: 0 0.5rem;
}

.navicons a:last-child {
    margin-right: 1.5rem;
    font-size: 2.2rem;
}

.container {
    display: flex;
    height: calc(100vh - 70px);
}

.container .logocontainer {
    width: 50%;
    /* background-color: #000; */
    background-color: black;
    background-image: url("../assets/LOGO.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container .logincontainer {
    width: 50%;
    /* background-color: greenyellow; */
    height: 100%;
}

/* added */

.search-bar {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    margin-right: 15px;
}

.input {
    height: 50px;
    width: 100%;
    padding: 10px 40px 10px 20px;
    outline: none;
    min-width: 200px;
    max-width: 400px;
    border-radius: 40px;
    border: 1px solid gray;
    position: relative;
}

.icon {
    position: relative;
    left: -40px;
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 1150px) {
    .container .logocontainer {
        display: none;
    }
    .container .logincontainer {
        width: 100%;
    }
}

/* After Monkey */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 3% 1em;
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

form .svgContainer {
    display: block;
    width: 100%;
    position: relative;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 50%;
    background: none;
    background-color: red;
}

form .svgContainer div {
    padding-bottom: 100%;
}
form .inputGroup {
    margin: 0 0 1em;
    padding: 0;
    position: relative;
    text-align: center;
}
form .inputGroup:last-of-type {
    margin-bottom: 0;
}
form label {
    display: block;
    font-size: 1em;
    /* color: #217093; */
    color: black;
    font-weight: 700;
    font-family: inherit;
    width: max-content;
    margin: 0 auto;
    /* margin-left: 5%; */
}

form input[type="text"] {
    display: block;
    padding: 0 2em 0;
    /* background-color: #f3fafd; */
    background-color: white;
    /* border: solid 2px #217093; */
    border: solid 2px lightgray;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* height changed */
    height: 45px;
    font-size: 1em;
    /* color: #353538; */
    font-weight: 100;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}

form input[type="email"]:focus,
form input[type="text"]:focus,
form input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    /* border: solid 2px #4eb8dd; */
    border: solid 2px black;
}

form input[type="email"],
form input[type="text"] {
    padding: 14px 1em 0px;
}

form .inputGroup1 .helper1 {
    position: absolute;
    z-index: 1;
    font-family: inherit;
    top: -8%;
    left: 25%;
    transform: translate(1.4em, 2.6em) scale(1);
    transform-origin: 0 0;
    /* color: #217093; */
    color: gray;
    font-size: 0.9em;
    font-weight: 400;
    /* opacity: 0.65; */
    pointer-events: none;
    transition: transform 0.2s ease-out, opacity 0.2s linear;
}

form .inputGroup1.focusWithText .helper1 {
    color: #000;
    transform: translate(1.4em, 1.8em) scale(0.9);
    opacity: 1;
}

form #login {
    background-color: white;
    box-sizing: border-box;
    font-size: 100%;
    color: black;
    font-weight: 600;
    font-family: inherit;
    outline: none;
    border: none;
    padding: 0.7534rem 1.25rem;
    display: block;
    float: right;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    transition: all 0.5s;
}

form #login:hover {
    color: white;
    /* background-color: #217093; */
    background-color: black;
    /* box-shadow: 0 10px 20px -10px #4361ee; */
    box-shadow: 0 10px 20px -10px black;
}

form #showPassword {
    display: inline-block;
    /* color: #217093; */
    color: black;
    margin-right: 10px;
    margin-bottom: 1vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 6px;
    bottom: -2px;
    background-color: #000;
    /* border: 1px solid white; */
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    left: 5px;
    bottom: 5px;
    box-shadow: 0 1px 15px 1px rgb(52 40 104 / 34%);
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    /* background-color: #2196f3; */
    background-color: #fff;
    /* color: #000; */
    border: 1px solid black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(15px);
    transform: translate(13px, 0.6px);
    background-color: black;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

form .dash {
    background-position-y: 7px;
    padding-right: 43%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABaAAAAACCAYAAACuTHuKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1OThBRDY4OUNDMTYxMUU0OUE3NUVGOEJDMzMzMjE2NyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1OThBRDY4QUNDMTYxMUU0OUE3NUVGOEJDMzMzMjE2NyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjU5OEFENjg3Q0MxNjExRTQ5QTc1RUY4QkMzMzMyMTY3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjU5OEFENjg4Q0MxNjExRTQ5QTc1RUY4QkMzMzMyMTY3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+VU513gAAADVJREFUeNrs0DENACAQBDBIWLGBJQby/mUcJn5sJXQmOQMAAAAAAJqt+2prAAAAAACg2xdgANk6BEVuJgyMAAAAAElFTkSuQmCC);
}

form .dash {
    background-position-y: 7px;
    padding-right: 43%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABaAAAAACCAYAAACuTHuKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1OThBRDY4OUNDMTYxMUU0OUE3NUVGOEJDMzMzMjE2NyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1OThBRDY4QUNDMTYxMUU0OUE3NUVGOEJDMzMzMjE2NyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjU5OEFENjg3Q0MxNjExRTQ5QTc1RUY4QkMzMzMyMTY3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjU5OEFENjg4Q0MxNjExRTQ5QTc1RUY4QkMzMzMyMTY3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+VU513gAAADVJREFUeNrs0DENACAQBDBIWLGBJQby/mUcJn5sJXQmOQMAAAAAAJqt+2prAAAAAACg2xdgANk6BEVuJgyMAAAAAElFTkSuQmCC);
}

@media screen and (max-width: 337px) {
    form .svgContainer {
        display: none;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.belowinputs {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: space-between;
}

.toLoginPage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #217093; */
    gap: 5vh;
    margin-top: 30px;
}

.toLoginPage a {
    /* color: #1298c9; */
    color: black;
}

.orContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    /* color: #1298c9; */
    font-size: 14px;
}

.signInWithGoogle {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10000px;
    min-width: 300px;
}

.googleButton {
    margin-top: 20px;
    /* background-color: #0062cc; */
    background-color: black;
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    text-align: center;
    border-radius: 10000px;
    /* border: 1px solid #0062cc; */
    border: none;
}

.outercircle {
    height: 40px;
    width: 40px;
    margin-left: 3px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.googlesvg {
    height: 30px;
    width: 30px;
}

.googleButton p {
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    color: white;
    font-weight: 700;
}

form .inputGroup2 .passinput {
    display: block;
    padding: 0 1em 0;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* height changed */
    height: 45px;
    font-size: 1em;
    color: #000;
    font-weight: 100;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}

form .reme a {
    text-decoration: underline;
    /* border : .2rem solid red; */
    /* color: #217093; */
    margin: 0 auto 1vh auto;
}

.multicolored {
    height: 0.5vh;
    display: flex;
    /* jcc */
    border-radius: 50px;
    width: 100%;
    /* animation: 3s ease-in-out infinite running example; */
    /* background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet,indigo,blue,green,orange,red); */
    /* background-image: linear-gradient(black,white); */
    background-image: linear-gradient(to right, white, black);
    /* animation: 1s ease-in -2s infinite both running alternate example1; */
    background-size: 100%;
}

/* @keyframes example {
    0% {background-image:linear-gradient(to right  ,orange,yellow,green,blue,indigo,violet ,red) ;}
    14% {background-image:linear-gradient(to right ,yellow,green,blue,indigo,violet ,red ,orange);}
    28% {background-image:linear-gradient(to right ,green,blue,indigo,violet ,red,orange,yellow);}
    42% {background-image:linear-gradient(to right ,blue,indigo,violet ,red,orange,yellow,green);}
    56% {background-image:linear-gradient(to right ,indigo,violet ,red,orange,yellow,green,blue);}
    70% {background-image:linear-gradient(to right ,violet ,red,orange,yellow,green,blue,indigo,);}
    84% {background-image:linear-gradient(to right ,red,orange,yellow,green,blue,indigo,violet);}
  } */

@keyframes example1 {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}
/* 
  .white{
    background-color: white;
    width: 50%;
    height: 100%;
  }
  .gray{
    background-color: gray;
    width: 50%;
    height: 100%;
  } */

@media screen and (max-width: 935px) {
    .navbar .c-icon {
        display: none;
    }
    .navbox_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .search-bar {
        margin: 0;
        padding: 0;
        width: 20px;
    }
}

@media screen and (max-width: 750px) {
    form .inputGroup2 .passinput {
        width: 80%;
    }
    form input[type="text"] {
        width: 80%;
    }
    form .inputGroup1 .helper1 {
        left: 10%;
    }
    .belowinputs {
        width: 80%;
    }
    .toLoginPage {
        width: 80%;
    }
    .orContainer {
        width: 80%;
    }
    .signInWithGoogle {
        width: 30%;
    }
}

.error {
    /* font-style: italic; */
    display: block;
    color: red;
    height: 1em;
    font-size: 13px;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    animation: 1s ease-in-out both running error;
}

@keyframes error {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1em);
    }
}
